:root {
  --color-bg: #0f111a;
  --color-bg-component: #191d2b;
  --color-text: #c9d1d9;
  --color-accent: #65a8ee;
  --color-border: #30363d;

  --font-base: "Inter", "Segoe UI Emoji", "Noto Color Emoji",
    "Apple Color Emoji", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}
