.loginContainer {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  &__formGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    input {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid var(--color-border);
      border-radius: 5px;
      font-size: 1rem;
      color: var(--color-text);
    }
  }

  &__submitGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    button {
      width: 150px;
      background-color: var(--color-accent);
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #164fa5;
      }

      &:disabled {
        background-color: gray;
        color: white;
        cursor: not-allowed;
      }
    }
  }

  &__registerLink {
    color: var(--color-text);
    font-size: 16px;
    margin-top: 10px;

    & a {
      color: var(--color-accent);
      text-decoration: none;
    }
  }
}
